.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: cover;
	image-rendering: crisp-edges
}

.icon.character {
	width: 64px;
	height: 64px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute
}

.icon.health {background-image: url(health.png)}

.icon.shield {background-image: url(shield.png)}

.icon.mana {background-image: url(mana.png)}

.icon.mage {background-image: url(mage.png)}

.icon.rogue {background-image: url(rogue.png)}

.icon.paladin {background-image: url(paladin.png)}