#open_backup {display: none}

.backup_tip, .backup_info {font-size: 18px}

.container-backup {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.backup {
	width: calc(100% - 24px);
	height: 184px;
	margin-bottom: 20px;
	padding: 8px;
	border: 4px solid #000;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 18px;
	resize: none
}

.btn-launch_backup {margin-top: 20px}