.option-name {
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	cursor: pointer;
	font-size: 18px
}

.option-name:hover {background-color: #c4b399}

.blank {
	width: 100%;
	height: 32px
}

.option-name input[type="text"] {}

.option-name input[type="range"] {
	display: inline-block;
	-webkit-appearance: none;
	height: 4px;
	margin: 14px;
	float: right;
	cursor: pointer
}