/** Buttons **/

.btn {
	display: inline-block;
	width: 448px;
	height: 52px;
	line-height: 52px;
	background-repeat: no-repeat;
	background-size: 100%;
	image-rendering: crisp-edges;
	cursor: pointer;
	text-align: center;
	font-size: 24px
}

.btn[disabled] {
	color: #776952;
	cursor: default
}

.btn-small {
	width: 144px;
	height: 36px;
	line-height: 36px;
	color: #000;
	font-size: 18px
}

.btn-small[data-function="close"] {width: 36px}

.btn-class {
	width: 208px;
	height: 208px;
	float: left;
	position: relative;
	vertical-align: top
}