/** Icons **/

.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	image-rendering: crisp-edges
}

.icon.character {
	width: 64px;
	height: 64px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute
}

.character_info .icon {
	width: 18px;
	height: 18px
}

.option .icon {
	width: 24px;
	height: 32px;
	background-position: center;
	background-size: 100%;
	float: right
}

.icon.key {
	width: 200px;
	line-height: 32px;
	text-align: right;
	font-size: 18px
}