/* map container */

.map-container {
	display: none;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	background-color: #262626
}

/* map and uppermap */

#map, #uppermap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 9999px;
	height: 9999px;
	margin: auto;
	position: absolute;
	overflow: hidden
}

/* parts */

.part, .upperpart {
	position: absolute;
	background-repeat: repeat;
	image-rendering: crisp-edges
}

/* player */

#player {
	width: 64px;
	height: 64px;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	image-rendering: crisp-edges;
	z-index: 1
}