.btn {
	display: inline-block;
	width: 448px;
	height: 52px;
	line-height: 52px;
	background: url(btn.png) no-repeat;
	background-size: 100%;
	image-rendering: crisp-edges;
	cursor: pointer;
	text-align: center;
	font-size: 24px
}

.btn[disabled] {
	background-image: url(btn-disabled.png);
	color: #776952;
	cursor: default
}

.btn:not([disabled]):active {background-image: url(btn-pressed.png)}

.btn-small {
	width: 144px;
	height: 36px;
	line-height: 36px;
	background-image: url(btn-small.png);
	font-size: 16px
}

.btn-small:active {background-image: url(btn-small-pressed.png)}

.btn-small[data-function="close"] {
	width: 36px;
	background-image: url(btn-close.png)
}

.btn-small[data-function="close"]:active {background-image: url(btn-close-pressed.png)}

.btn-class {
	width: 208px;
	height: 208px;
	float: left;
	position: relative;
	vertical-align: top
}

.btn-class.mage {background-image: url(btn-class-mage.png)}
.btn-class.rogue {background-image: url(btn-class-rogue.png)}
.btn-class.paladin {background-image: url(btn-class-paladin.png)}

.btn-class.mage:active {background-image: url(btn-class-mage-selected.png)}
.btn-class.rogue:active {background-image: url(btn-class-rogue-selected.png)}
.btn-class.paladin:active {background-image: url(btn-class-paladin-selected.png)}