.btn {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	padding: 0 10px;
	background-color: #c4b399;
	cursor: pointer;
	font-size: 20px
}

.btn:hover {background-color: rgba(0, 0, 0, 0.4)}

.btn[data-function="close"] {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 0;
	padding: 2px 0;
	background: url(btn/btn-close.png) no-repeat;
	background-size: 100%;
	image-rendering: crisp-edges
}

.btn[data-function="close"]:active {background-image: url(btn/btn-close_pressed.png)}