.btn {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	image-rendering: crisp-edges;
	cursor: pointer;
	text-align: center;
	font-size: 20px
}

.btn[data-function="open"] {
	width: 448px;
	height: 52px;
	line-height: 52px;
	background-image: url(btn/btn-open.png)
}

.btn[data-function="open"]:active {background-image: url(btn/btn-open_pressed.png)}

.btn[data-function="close"] {
	width: 36px;
	height: 36px;
	background-image: url(btn/btn-close.png)
}

.btn[data-function="close"]:active {background-image: url(btn/btn-close_pressed.png)}