.dialog {
	display: none;
	width: 50%;
	min-height: 0;
	margin: auto;
	padding: 8px;
	bottom: 100px;
	right: 0;
	left: 0;
	position: absolute;
	border: 4px solid #000000;
	background-color: #f5e0bf;
	cursor: default;
	font-size: 20px;
	z-index: 3
}

.dialog .dialog-option {
	display: none;
	padding: 0;
	outline: none;
	border: none;
	background-color: #f5e0bf;
	font-size: 20px;
	word-break: break-all;
	cursor: pointer
}

.dialog .dialog-option:hover {text-decoration: underline}