.menu-main {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #555
}

.menu-main-title {
	height: calc(100vh / 3);
	position: relative;
	background-color: #777
}

.option-title {
	height: 30px;
	line-height: 30px;
	top: 0;
	position: sticky;
	background-color: #f5e0bf;
	font-size: 22px
}

.option-name {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	cursor: pointer;
	font-size: 18px
}

.option-name:hover {background-color: #c4b399}

.options {
	height: calc(100% - 80px);
	overflow-y: scroll;
	scroll-behavior: smooth;
	background-color: #f5e0bf
}

.blank {
	width: 100%;
	height: 30px
}