.main-menu {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #555
}

.main-menu-title {
	height: calc(100vh / 3);
	position: relative;
	background-color: #777
}

.main-menu-actions {
	background-color: red
}