/** Noscript **/

noscript {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	background-color: #a41726;
	color: #fff;
	cursor: default;
	font-size: 24px;
	text-align: center
}

noscript p {
	width: 100%;
	padding: 0 16px
}

noscript p a {color: #fff}
noscript p a:hover {color: rgba(255, 255, 255, 0.75)}
noscript p a:active {color: rgba(255, 255, 255, 0.5)}

noscript .version {
	padding: 16px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: #a41726
}